.Shopping {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 30px;
  .shoplist {
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    .shoplist__item {
      border: 1px solid gray;
      border-radius: 10px;
      padding: 5px;
      margin-bottom: 10px;
      cursor: pointer;
      list-style: none;
      width: 100px;
    }
  }
}
